@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

  font-family: 'Roboto Thin';
  background-color: black;
  background-image: url("Images/bg.png");
}

h1 {

  font-family: 'Roboto Thin';
  color: white;
}

h2 {

  font-family: 'Roboto Thin';
    color: white;
}

h4 {

  font-family: 'Roboto Thin';
    color: white;
    color: cornflowerblue;
}
a {

  font-family: 'Roboto Thin';
    text-decoration: none;
    color: #237fd0;
}
a:hover {

  font-family: 'Roboto Thin';
  color: #9e5f23;
}

* {
 margin: 0;
 padding: 0;
}

#container {
 width: 600px;
 margin: 50px auto;
}

/*Text Sections*/
.section {
 margin: 50px 0;
}

.section h1 {
 font: 55px/65px Helvetica, sans-serif;
}

p {

  font-family: 'Roboto Thin';
  color: white;
 font: 15px/25px Helvetica, sans-serif;
}
textarea {

  font-family: 'Roboto Thin';
  background-color: #6E7271;
    width: 700;
    height: 700;
    resize: none;
    overflow: auto;
}

footer {

    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    color: white;
}

label {

  color: white;
}

input {

  font-family: 'Roboto Thin';
  background-color: #6E7271;
    width: 700;
    height: 700;
    resize: none;
    overflow: auto;
}